<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- Quando si distribuisce il progetto della libreria di servizi, è necessario aggiungere il contenuto del file di configurazione al file 
  app.config dell'host. System.Configuration non supporta i file di configurazione delle librerie. -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICalculator"
				 receiveTimeout="00:10:00"
			     sendTimeout="00:10:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:55464/Calculator.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICalculator" contract="CalculatorServiceReference.ICalculator"
        name="BasicHttpBinding_ICalculator" />
    </client>
  </system.serviceModel>

</configuration>
